:root {
    --primary-color: #101022;
    --background-color: #fcfafc;
}

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px var(--primary-color), 0 0 20px var(--primary-color), 0 0 30px var(--primary-color), 0 0 40px var(--primary-color), 0 0 50px var(--primary-color), 0 0 60px var(--primary-color), 0 0 70px var(--primary-color);
    }
    
    to {
      text-shadow: 0 0 10px #fff,0 0 20px #323050, 0 0 20px #343253, 0 0 30px #312e57, 0 0 40px #2a2753, 0 0 50px #242058;
    }
  }

#navbar {
    background-color: var(--primary-color);
    opacity: 0.95;
}

#text1 {
    font-weight: bold; 
    font-size: 30px; 
    position: relative;
    top: -20px
}

#text2 {
    font-size: 20px;
}

#headerJumbo {
    background-color: var(--primary-color);
    position: relative;
    top: -30px;
}

#hbgContainer {
    padding-top: 8%;
    background-color: var(--primary-color);
    height: 509px;
    position: relative;
    top: -69px;
    /* margin-bottom: -50px; */
}

#bgContainer1 {
    background-color: var(--background-color);
    position: relative;
    top: 7px;
    margin-top: -59px
}

#bgContainer2 {
    background-color: var(--background-color);
    position: relative;
    top: 22px;
    /* margin-top: -59px */
}

#jumbo1 {
    background-color: var(--background-color)
    /* border: 3px solid #131933; */
}

#logo {
    max-width: 8%;
}

#logo1 {
    position: relative;
    top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    max-width: 90%;
}