:root {
    --primary-color: #101022;
    --background-color: #fcfafc;
}

#navbar {
    background-color: var(--primary-color);
    opacity: 0.95;
}

#text1 {
    font-weight: bold; 
    font-size: 30px; 
    position: relative;
    top: -20px
}

#text2 {
    font-size: 20px;
}

#headerJumbo {
    background-color: var(--primary-color);
    position: relative;
    top: -30px;
}

#hbgContainer {
    padding-top: 8%;
    background-color: var(--primary-color);
    height: 529px;
    position: relative;
    top: -69px;
    /* margin-bottom: -50px; */
}

#bgContainer {
    background-color: var(--background-color);
    position: relative;
    top: 7px;
    margin-top: -59px
}

#jumbo1 {
    background-color: var(--background-color)
    /* border: 3px solid #131933; */
}

#logo {
    max-width: 8%;
}